:root {
  --main-font-weight: 400;
  --main-font-style: normal;
  --main-color: #3498db;
}

body {
  background-color: #000;
  margin: 0;
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
}

.promo {
  background-image: url('./image/back.png');
  background-position: center;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 300px;
}

.logo {
  flex-grow: 1;
}

nav {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
}

nav li {
  padding: 3px;
  display: inline;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.info {
  padding-top: 100px;
  padding-left: 300px;
}

.main {
  padding-left: 10px;
  font-size: 100px;
  font-weight: var(--main-font-weight);
}

.text {
  font-size: 20px;
}

.block_ {
  padding-top: 100px;
  padding-left: 400px;
}

.block,
.block p {
  display: inline-block;
  padding: 30px;
}

.tour-block {
  width: 300px;
  height: 600px;
  display: inline-block;
  margin: 0 10px;
}

.tour-block img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  box-shadow: 0 0 20px #ffffff;
}

.image-container {
  width: 100%;
  height: 80%;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.tour {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 34px;
  text-shadow: 2px 2px 2px #000;
}

.popular-tours-section {
  text-align: center;
  padding-top: 100px;
}

.featured-section {
  display: flex;
  background-image: url('./image/back2.png');
  background-size: cover;
  background-position: center;
  padding: 150px 0px 200px 300px;
  text-align: left;
}

.featured-text {
  max-width: 500px;
}

.featured-text h2 {
  font-size: 80px;
}

.featured-text p,
.small-text {
  font-size: 16px;
}

.small-text {
  font-size: 14px;
}

.featured-images {
  text-align: center;
  margin-top: 20px;
}

.featured-images img {
  width: 300px;
  height: auto;
  margin: 350px 0px 0px 150px;
}

.social-icons-section {
  text-align: center;
  margin: 20px 0px;
}

.social-icon,
.social-icon_ {
  display: inline-block;
  margin: 0 70px;
}

.social-icon img {
  width: 50px;
  height: 50px;
}
.social-icon_ {
  width: 70px;
  height: 50px;
  display: inline-block;
  margin: 0 70px;
}